body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: monospace;
}

/* Header */

.header {
  background-color: #3c3b37;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.circle_container {
  display: flex;
  position: absolute;
  left: 0;
}

.circle {
  border-radius: 100%;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.7rem;
  margin-top: 1rem;
}

.red {
  background-color: rgb(179, 55, 55);
}

.yellow {
  background-color: rgb(158, 158, 52);
}

.green {
  background-color: rgb(55, 119, 55);
}

.header_text {
  text-align: center;
  color: white;
  margin-top: 1rem;
}

/* Footer */

.footer {
  background-color: #3c3b37;
  color: white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  margin-left: 1rem;
}

/* Tabs */

.tabs {
  padding-left: 20rem;
  background-color: #252526;
  height: 3rem;
  display: flex;
}

@media only screen and (max-width: 1300px) {
  .tabs {
    padding-left: 0;
  }
}

.tab {
  background-color: #2d2d2d;
  color: #dadce0;
  display: flex;
  width: 8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-right: black solid 1px;
}

@media only screen and (max-width: 780px) {
  .tab {
    width: 6rem;
    font-size: smaller;
  }
}

.tab.active {
  background-color: #1e1e1e;
}

.tab:hover {
  background-color: #1e1e1e;
}

/* Explorer */

.explorer {
  height: 100vmax;
  width: 20rem;
  background-color: #252526;
}

@media only screen and (max-width: 1300px) {
  .explorer {
    display: none;
  }
}

.files {
  margin-top: 3rem;
}

.file {
  color: white;
  height: 2rem;
  padding-left: 3rem;
  padding-top: 0.75rem;
}

.file.active {
  background-color: #2a2d2e;
}

.file:hover {
  background-color: #2a2d2e;
}

/* Home */

.home {
  margin: auto;
  margin-top: 0;
  text-align: center;
  color: white;
}

.img-container {
  display: flex;
  justify-content: center;
}

.photo {
  margin-top: 4rem;
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.about-me {
  font-size: x-large;
  text-align: center;
  line-height: 3rem;
}

.about-me p {
  display: inline;
}

@media only screen and (max-width: 1300px) {
  .about-me p {
    font-size: smaller;
  }
  .about-me h2 {
    font-size: smaller;
  }
}

/* Projects */

.projects {
  margin: auto;
  margin-top: 6rem;
}

.projects-grid {
  /* margin-top: 2rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

@media only screen and (max-width: 1300px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  height: 30rem;
  width: 25rem;
  border: white 1px solid;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 780px) {
  .project-card {
    width: 20rem;
  }
}

.project-card img {
  margin-top: 1rem;
  width: 90%;
  height: 60%;
}

.links a {
  margin: 10px;
  color: rgb(109, 14, 199);
}

/* Contact  */

.contact {
  margin: auto;
  margin-top: 6rem;
  text-align: center;
  width: 75%;
}

.resume {
  width: min-content;
  margin: auto;
  margin-top: 4rem;
}

.resume-page {
  width: 70%;
}