body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: monospace;
}

/* Header */

.header {
  background-color: #3c3b37;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.circle_container {
  display: flex;
  position: absolute;
  left: 0;
}

.circle {
  border-radius: 100%;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.7rem;
  margin-top: 1rem;
}

.red {
  background-color: rgb(179, 55, 55);
}

.yellow {
  background-color: rgb(158, 158, 52);
}

.green {
  background-color: rgb(55, 119, 55);
}

.header_text {
  text-align: center;
  color: white;
  margin-top: 1rem;
}

/* Tabs */

.tabs {
  padding-left: 20rem;
  background-color: #252526;
  height: 3rem;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 780px) {
  .tabs {
    padding-left: 0;
  }
}

.tab {
  background-color: #2d2d2d;
  color: #dadce0;
  display: flex;
  width: 8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-right: black solid 1px;
}

.tab.active {
  background-color: #1e1e1e;
}

.tab:hover {
  background-color: #1e1e1e;
}

/* Explorer */

.explorer {
  height: 95vh;
  width: 20rem;
  background-color: #252526;
}

@media only screen and (max-width: 780px) {
  .explorer {
    display: none;
  }
}

.files {
  margin-top: 3rem;
}

.file {
  color: white;
  height: 2rem;
  padding-left: 3rem;
  padding-top: 0.75rem;
}

.file.active {
  background-color: #2a2d2e;
}

.file:hover {
  background-color: #2a2d2e;
}

/* Home */

.home {
  width: 100%;
  text-align: center;
  color: white;
}

.img-container {
  display: flex;
  justify-content: center;
}

.photo {
  margin-top: 7rem;
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.about-me {
  margin-top: 5rem;
  padding-left: 4rem;
  font-size: x-large;
  text-align: left;
  line-height: 3rem;
}

.about-me p {
  display: inline;
}
